 .all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

 }



.hole1{
      display: flex;
     flex-wrap: wrap;  
    height: 300px;
    width: 250px;
    border: 2px solid black;

}

.first1{
    background-color: red;
    height: 50px;
     width: 50px; 
    margin: 10px;
    border-radius: 5px;

}
.first2{
background-color: red;
    height: 50px;
     width: 80px; 
    margin: 10px;
    border-radius: 5px;
}
.first3{
    background-color: red;
        height: 50px;
         width: 60px; 
        margin: 10px;
        border-radius: 5px;
    }
    .hole2{
        display: flex;
       flex-wrap: wrap; 
       flex-direction: column;
       /* justify-content:space-around; */
       height: 300px;
       width: 250px;
       border: 2px solid black;
   
   }
   .first11{
       background-color: red;
       height: 50px;
        width: 50px; 
       margin: 10px;
       border-radius: 5px;
   
   }
   .first21{
   background-color: red;
       height: 80px;
        width: 50px; 
       margin: 10px;
       border-radius: 5px;
   }
   .first31{
       background-color: red;
           height: 70px;
            width: 50px; 
           margin: 10px;
           border-radius: 5px;
       }
       .hole3{
        display: flex;
       flex-wrap: wrap; 
       flex-direction: row-reverse;
       height: 300px;
       width: 250px;
       border: 2px solid black;
   
   }
   .first12{
       background-color: red;
       height: 50px;
        width: 50px; 
       margin: 10px;
       border-radius: 5px;
   
   }
   .first22{
   background-color: red;
       height: 50px;
        width: 80px; 
       margin: 10px;
       border-radius: 5px;
   }
   .first32{
       background-color: red;
           height: 50px;
            width: 60px; 
           margin: 10px;
           border-radius: 5px;
       }
       .hole4{
        display: flex;
       flex-wrap: wrap;
       flex-direction: column-reverse; 
       justify-content: space-evenly;
       height: 300px;
       width: 250px;
       border: 2px solid black;
   
   }
   .first13{
       background-color: red;
       height: 50px;
        width: 50px; 
       margin: 10px;
       border-radius: 5px;
   
   }
   .first23{
   background-color: red;
       height: 80px;
        width: 50px; 
       margin: 10px;
       border-radius: 5px;
   }
   .first33{
       background-color: red;
           height: 70px;
            width: 50px; 
           margin: 10px;
           border-radius: 5px;
       }
.alignitems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.all1{
    display: flex;
       flex-wrap: wrap; 
       justify-content: center;
       align-items: flex-start;
       height: 300px;
       width: 250px;
       border: 2px solid black;
   
   }
   .align1{
    height: 50px;
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin: 10px;

   }
   .align2{
    height: 80px;
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin: 10px;

   }
   .align3{
    height: 60px;
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin: 10px;

   }
   .all2{
    display: flex;
       flex-wrap: wrap; 
       justify-content:center;
       align-items:center;
       height: 300px;
       width: 250px;
       border: 2px solid black;
   
   }
   .align11{
    height: 50px;
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin: 10px;

   }
   .align21{
    height: 80px;
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin: 10px;

   }
   .align31{
    height: 60px;
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin: 10px;

   }
   .all3{
    display: flex;
       flex-wrap: wrap; 
       justify-content:center;
       align-items: flex-end;
       height: 300px;
       width: 250px;
       border: 2px solid black;
   
   }
   .align12{
    height: 50px;
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin: 10px;

   }
   .align22{
    height: 80px;
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin: 10px;

   }
   .align32{
    height: 60px;
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin: 10px;

   }
   .all4{
    display: flex;
       flex-wrap: wrap; 
       justify-content: center;
       align-items: stretch;
       height: 300px;
       width: 250px;
       
       border: 2px solid black;
   
   }
   .align13{
    /* height: 50px; */
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin:10px;

   }
   .align23{
    /* height: 80px; */
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin: 10px;

   }
   .align33{
    /* height: 60px; */
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin: 10px;

   }
   .justifycontent{
    display: flex;
    flex-wrap: wrap;
    

   }
   .content1{
    display: flex;
       flex-wrap: wrap; 
       justify-content:flex-start;
       height: 300px;
       width: 250px;
       border: 2px solid black;
       margin: 20px;
   
   
   }
    

   .content2{
    display: flex;
       flex-wrap: wrap; 
       justify-content:center;
       height: 300px;
       width: 250px;
       border: 2px solid black;
       margin: 20px;
   
   }
   .content12{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
   }
   .content3{
    display: flex;
       flex-wrap: wrap; 
       justify-content:flex-start;
       height: 300px;
       width: 250px;
       border: 2px solid black;
       margin: 20px;
   }
   .content4{
    display: flex;
       flex-wrap: wrap; 
       justify-content:flex-start;
       height: 300px;
       width: 250px;
       border: 2px solid black;
       margin: 20px;
       
   }
   
    
     .content34{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   }  
   
   .justify1{
    /* height: 50px; */
    width: 25px;
    border-radius: 5px; 
    background-color: red;
    margin: 5px;

   }  
   .justify2{
    /* height: 50px; */
    width: 50px;
    border-radius: 5px; 
    background-color: red;
    margin: 5px;

   }  
   .justify3{
    /* height: 50px; */
    width: 35px;
    border-radius: 5px; 
    background-color: red;
    margin: 5px;

   } 
   .content5{
    display: flex;
       flex-wrap: wrap; 
       justify-content:flex-start;
       height: 300px;
       width: 250px;
       border: 2px solid black;
       margin: 20px;
   
   }
    

   .content6{
    display: flex;
       flex-wrap: wrap; 
       justify-content:center;
       height: 300px;
       width: 250px;
       border: 2px solid black;
       margin: 20px;
   
   }
   
   
  
   .content56{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   }


    .alignContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: coloum;
    
    
   }

   .alignContent1{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;  
   height: 300px;
   width: 250px;
   border: 2px solid black;
   margin: 20px;


   }
   

   .alignContent2{
    display: flex;
    flex-wrap: wrap;
    align-content: center;  
   height: 300px;
   width: 250px;
   border: 2px solid black;
   margin: 20px;

   }
   
   .alignContent3{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;  
   height: 300px;
   width: 250px;
   border: 2px solid black;
   margin: 20px;


   }
   .alignContent4{
    display: flex;
    flex-wrap: wrap;
     align-content:flex-start; 
   height: 300px;
   width: 250px;
   border: 2px solid black;
   margin: 20px;


   }
   .firstA{
    background-color: red;
    height:130px;
     width: 50px; 
    margin: 10px;
    border-radius: 5px;

}
.firstB{
background-color: red;
    height: 130px;
     width: 80px; 
    margin: 10px;
    border-radius: 5px;
}
.firstC{
    background-color: red;
        height: 130px;
         width: 60px; 
        margin: 10px;
        border-radius: 5px;
    }
   
   
   .alignContent5{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;  
   height: 300px;
   width: 250px;
   border: 2px solid black;
   margin: 20px;

   }
   .alignContent6{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;  
   height: 300px;
   width: 250px;
   border: 2px solid black;
   margin: 20px;


   }
   .alignContent12{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

   }
   .alignContent34{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

   }
   .alignContent56{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

   }
   h2{
    text-align: center;
    text-decoration: underline;

   }
    
   


   






    
    
    
   




    
    
    
   




   










